---
layout: default
---

<div class="home">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
    <style>
        .background { 
            position: fixed;
            z-index:-1;
        }
        </style>
    <script src="assets/js/home_background.js"></script>
    <script src="assets/js/quadtree.js"></script>


    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    {{ content }}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {% assign projects = site.projects | sort: 'date' | reverse %} 
        {% for project in projects %}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ project.date | date: date_format }}</span>
            <h3>
                <a href="{{ project.url | relative_url }}" style="text-decoration: none">
                    {%if project.thumbnail %}
                        <img height="89" width="89" src="{{site.baseurl}}/{{ project.url | replace: "/", " " | truncatewords: 2, "" | replace: " ", "/" }}/{{ project.thumbnail }}"></img>
                    {% else %}
                        <img src="{{ 'assets/default_thumbnail.png' | relative_url }}"></img>
                    {% endif %}
                </a>
                <a href="{{ project.url | relative_url }}">
                    {{ project.title | escape }}
                </a>
            </h3>
        </li>
        {% endfor %}
    </ul>
</div>
