.wrapper {
    overflow: auto
}

.divLeft {
    display: block;
    float: left;
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
    padding: 0;
}

.divRight {
    width: 100px;
    display: block;
    float: right;
}

body {
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace
}

canvas {
    margin: auto;
}